.addMealPlanModal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 4px 10px 4px #3d3d3d;
}

.addMealPlanModal-content {
    width: 500px;
    background-color: #fff;
}

.modal-header, .modal-footer {
    padding: 10x;
}

.modal-title {
    justify-self: center;
    margin-top: 5px;
}

.modal-body {
    padding: 10x;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}